#less_wrapper {
  background-color: #333;
  border-color: #333;
  padding: 0;
  -moz-appearance: none;
}
#less_wrapper #less_auto {
  max-width: 270px;
  width: 270px;
  margin: 0;
  padding: 0;
}
#statusbar-less #statusbar-less-label {
  min-width: 70px;
}
#statusbar-less #statusbar-less-label > label {
  background-image: url('../content/komodo-less.png');
  background-repeat: no-repeat;
  background-position: 0px 4px;
  background-size: auto 11px;
  padding-left: 30px;
  padding-right: 10px;
}
